<h1>Pizza Store</h1>
<h2>Domino's Pizza</h2>

<div class="blurb">
  Domino's Pizza is the largest pizza takeaway and delivery company in the world
  with over 330 Stores across Germany where you can order your favourite
  Domino's pizzas, pastas, salads, wraps, chicken snacks and desserts. Our
  expertise and passion for creating and delivering hot fresh pizzas has earned
  us numerous awards, but even more we have the loyalty of millions of pizza
  lovers around the world. Domino’s Pizza Enterprises (DPE) is the master
  franchisor for the Domino’s Pizza brand in Australia, New Zealand, France,
  Benelux, Japan, Denmark and Germany. Across these markets, DPE and its
  franchisees operate over 2,600 stores..
</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create" id="cta_green">Get Started</a>
  <a class="cta blue" id="cta_blue" href="session/create">Login</a>
</div>
